<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.upbracing.configurationeditor.timer.editors.TimerConfigurationEditor"
            icon="icons/clock.png"
            id="de.upbracing.configurationeditor.timer.editors.TimerConfigurationEditor"
            name="Timer Configuration">
            <contentTypeBinding
	           contentTypeId="de.upbracing.configurationeditor.timer.contentTypes.TimerConfigurationType">
	        </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
         		file-extensions="tcxml"
         		id="de.upbracing.configurationeditor.timer.contentTypes.TimerConfigurationType"
         		name="AVR Timer Configuration File"
         		priority="normal">
         </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.upbracing.configurationeditor.timer"
            name="AVR Timer Configuration"
            parentCategory="de.upbracing.code_generation.category">
      </category>
      <wizard
            category="de.upbracing.configurationeditor.timer"
            class="de.upbracing.configurationeditor.timer.wizards.NewConfigurationFileWizard"
            icon="icons/clock.png"
            id="de.upbracing.configurationeditor.timer.wizards.NewConfigurationFileWizard"
            name="New Timer Configuration">
      </wizard>
      <category
            id="de.upbracing.code_generation.category"
            name="UPBracing Code-Generation">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="upbracing-AVR-TimerConfigurationEditor.contribution1"
            nameFilter="*.tcxml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/clock.png"
               id="upbracing-AVR-TimerConfigurationEditor.menu1"
               label="AVR Timer Configuration"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="de.upbracing.configurationeditor.timer.popup.actions.GenerateCodeAction"
               enablesFor="1"
               icon="icons/source.gif"
               id="upbracing-AVR-TimerConfigurationEditor.newAction"
               label="Generate Code"
               menubarPath="upbracing-AVR-TimerConfigurationEditor.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
